<div class="card">
    <ul class="row profile_state list-unstyled">
        <li class="col-lg-3 col-md-3 col-6">
            <div class="body">
                <i class="zmdi zmdi-eye col-amber"></i>
                <h4>@ViewBag.TopCustomer</h4>
                <span>En Aktif Müşteri</span>
            </div>
        </li>
        <li class="col-lg-3 col-md-3 col-6">
            <div class="body">
                <i class="zmdi zmdi-thumb-up col-blue"></i>
                <h4>@ViewBag.TopCity</h4>
                <span>En Aktif Şehir</span>
            </div>
        </li>
        <li class="col-lg-3 col-md-3 col-6">
            <div class="body">
                <i class="zmdi zmdi-comment-text col-red"></i>
                <h4>@ViewBag.Last30DaysOrderCount</h4>
                <span>Son 30 Günde Sipariş Veren Müşteri</span>
            </div>
        </li>
        <li class="col-lg-3 col-md-3 col-6">
            <div class="body">
                <i class="zmdi zmdi-account text-success"></i>
                <h4>@ViewBag.TopPaymentMethod</h4>
                <span>En Popüler Ödeme Yöntemi</span>
            </div>
        </li>
    </ul>
</div>