<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <ul class="row profile_state list-unstyled">
                <li class="col-lg-2 col-md-4 col-6">
                    <div class="body">
                        <i class="zmdi zmdi-camera col-amber"></i>
                        <h4>@ViewBag.TotalOrderCount</h4>
                        <span>Sipariş Sayısı</span>
                    </div>
                </li>
                <li class="col-lg-2 col-md-4 col-6">
                    <div class="body">
                        <i class="zmdi zmdi-thumb-up col-blue"></i>
                        <h4>@ViewBag.CompletedOrderCount</h4>
                        <span>Tamamlanan Siparişler</span>
                    </div>
                </li>
                <li class="col-lg-2 col-md-4 col-6">
                    <div class="body">
                        <i class="zmdi zmdi-comment-text col-red"></i>
                        <h4>@ViewBag.CanceledOrderCount</h4>
                        <span>İptal Edilen Siparişler</span>
                    </div>
                </li>
                <li class="col-lg-2 col-md-4 col-6">
                    <div class="body">
                        <i class="zmdi zmdi-account text-success"></i>
                        <h4>@ViewBag.GetCustomerCountry</h4>
                        <span>Müşteri Ülke</span>
                    </div>
                </li>
                <li class="col-lg-2 col-md-4 col-6">
                    <div class="body">
                        <i class="zmdi zmdi-desktop-mac text-info"></i>
                        <h4>İstanbul</h4>
                        <span>Müşteri Şehir</span>
                    </div>
                </li>
                <li class="col-lg-2 col-md-4 col-6">
                    <div class="body">
                        <i class="zmdi zmdi-attachment text-warning"></i>
                        <h4>48747.67 $</h4>
                        <span>Toplam Harcanan Tutar</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>